
body{
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: #FDE8DC
}

.left-button{
    position: absolute;
    width: 340px;
    left: 266px;
    top: 647px;
    
    background: #FFFFFF;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;;
}
.right-button{
    position: absolute;
    width: 352px;
    height: 91px;
    left: 669px;
    top: 647px;

    background: #FFFFFF;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
