<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://kit.fontawesome.com/b2512a87ca.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b2512a87ca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./card.css" />
    <title>Document</title>
</head>
<body>
    <div class = "header">
        <i class="fa-solid fa-arrow-left"></i>

    </div>

    <div class = "side front">
        <div class = "card">
            <div class = "food name">クロワッサン</div>
            <div class = "image"></div>
        </div>
        <div class = "button">
            <div class = "left-button"></div>
            <div class = "right-button"></div>
        </div>

    </div>
    <div class = "side back">
        <div class = "card">
            <div class = "food carbo">10g</div>
            
        </div>
        <div class = "button">
            <div class = "left-button"></div>
            <div class = "right-button"></div>
        </div>

    </div>
</body>
</html>